# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
*.code-workspace

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

dist/

# 后端
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.toml

.trae/

uploads/

.db
.space/

*.bak

*.md
!前端需求.md
!后端需求.md
!需求文档.md
!API文档.md
!README.md
!README.en.md

.qoder/
.workbuddy/

.data/
.plugins/
.keys/